* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "DM Sans", sans-serif;
  min-width: 375px;
  height: vh;
  background-color: rgba(25, 25, 25, 1);
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 0;
}

.img-home {
  max-width: 650px;
  width: 100%;
  height: auto;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-item {
  gap: 40px;
}

.menu-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 159%;
  color: #fff;
}
.wrapper-home {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 80px;
  gap: 60px;
}
.info-home {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.title-home {
  font-weight: 400;
  font-size: 70px;
  line-height: 88px;
  letter-spacing: 3.2px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 90px;
}
.span-level {
  font-weight: 700;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: 3.2px;
  padding-left: 25px;
}
.span-home {
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 16px;
}
.wrapper-icon {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-bottom: 130px;
}
.platform-icon {
  display: flex;
  gap: 17px;
}

.section-episodes{
  margin-bottom: 160px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 100px;
  margin-bottom: 65px;
}

.title-episodes {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 64px;
  line-height: 79.2px;
  letter-spacing: 2.88px;
  color: rgba(255, 255, 255, 1);
}

.button-episodes {
  width: 178px;
  height: 51px;
  opacity: 1;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(17, 141, 168, 1);
  border-radius: 5px;
  border: none;
}

.wrapper-episodes {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.card {
  display: flex;
  max-width: 1300px;
  height: auto;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 32px;
  padding: 40px 20px 40px 40px;
  gap: 53px;
}

.img-card {
  max-width: 390px;
  width: 100%;
  height: auto;
  object-fit:cover;
}

.info-card {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

.gear-span {
  width: 73px;
  height: 27px;
  opacity: 1;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  border-radius: 10px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(25, 25, 25, 1);
  margin-bottom: 48px;
}
.span-about,
.episode-span {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0%;
  color: rgba(17, 141, 168, 1);
  margin-bottom: 17px;
}
.title-about,
.title-card {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 64px;
  line-height: 70.4px;
  letter-spacing: 2.56px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 28px;
}
.description-about,
.description-card {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.7);
  flex-grow: 1;
  margin-bottom: 18px;
}

.button-card {
  width: 208px;
  height: 51px;
  opacity: 1;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  border-radius: 5px;
  border: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(17, 141, 168, 1);
}
.wrapper-about{
  display: flex;
  align-items: center;
  padding-top: 100px;
  gap: 60px;
}

.info-about{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.icon-about{
  width: 112px;
  height: 112px;
  margin-bottom: 20px;
}

.span-about {
margin: 0;
  
}
.title-about {
}
.description-about p{
  margin-bottom: 33px;
}
/* .span-about,
.info-about a {
  display: block;
} */
.img-about {
  max-width: 650px;
  width: 100%;
  height: auto;
  border-radius: 12px;
}
